.form {
    margin-top: 20px;
}

.form__fieldset {
    border: 2px solid #868686;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
}

.form__legend {
    background-color: #6f2117;
    color: white;
    border-radius: 5px;
    border-color: #868686;
    padding: 15px;
}

.form__legend:hover {
    background-color: #982d1f;
}

.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 1px solid #868686;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.form__paragraph {
    text-align: center;
    padding: 5px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: #6f2117;
    color: white;
    padding: 7px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: #982d1f;
}

.form__button:active {
    background-color: #c33a28;
}

.form__result {
    text-align: center;
    font-size: 35px;
    background-color: #6e2117;
    color: #ffffff;
    border-radius: 5px;
    border-color: #868686;
}

.form__result:hover {
    background-color: hsl(7, 65%, 36%);
}